#first {
    /* background-color: #0019ba;
    color: #3c3e;
    background-image: url(https://avatarko.ru/img/kartinka/33/multfilm_lyagushka_32117.jpg);
    background-repeat: no-repeat;
    background-position: right; */

    color: #3c3e40;
    background: #7f9ab3 url(https://avatarko.ru/img/kartinka/33/multfilm_lyagushka_32117.jpg) no-repeat center top;
    background-size: contain;
    height: 100vh;
    /* background-attachment: fixed; */
}


.second {
    height: 2000px;
}