.main_link {
    color: red;
    text-decoration: overline;
}

.main_link:hover {
    color: rgb(0, 0, 0);
    text-decoration:  underline;
    text-decoration-color: cornflowerblue;
    cursor: pointer;
}


.main_link:visited {
    color: goldenrod;
}

input {
    color: blue;
}

input:disabled {

}

input:focus {
    color: red;

}

p.text:empty::after  {
    color: rgb(253, 0, 0);
    content: '1234567';
    content: attr(title);
}

#some_text::before{
    content: '123456';
    color: red;
}

p.main_link::first-line {
    color: darkgreen;
}

p:last-of-type {
    text-decoration: line-through;
}